@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 200px 100px 1fr 100px / 1fr 150px;
    gap: 5px;
}

.caixa {
    background-color: gray;
    text-align: center;
    padding: 10px
}

#topo {
    grid-area: 1 / 1 / 2 / -1;
}

#menu {
    grid-area: 2 / 1 / 3 / -1;
}

#principal {
    grid-area: 3 / 1 / -2 / -2;
}

#secundario {
    grid-area: 3 / 2 / -2 / -1;
}

#rodape {
    grid-area: -2 / 1 / -1 / -1;
}