@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-titulo: "Passion One", sans-serif;
    --font-padrao: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    padding: 55px;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--font-titulo);
    font-size: 10vw;
    font-variant: small-caps;
}

header p {
    font-family: var(--font-titulo);
    font-size: 1.2em;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main section {
    padding: 30px;
    margin: 30px 0;
}

main p {
    font-family: var(--font-padrao);
    font-size: 3.5vw;
    line-height: 2em;
}

#joaninha {
    background: darkgreen url('imagens/background001.jpg') center no-repeat fixed;
    background-size: cover;
}

#folha {
    background: darkgray url('imagens/background002.jpg') center no-repeat fixed;
    background-size: cover;
}

main p.imagem {
    color: white;
    background-color: rgba(0, 0, 0, 0.401);
    padding: 10px;
    display: inline-block;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}

