@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(7, 50px) / 1fr 2fr 1fr;
    gap: 5px;
}

.topo {
    grid-area: 1 / 1 / 3 / -1;
    text-align: center;
    background-color: blue;
}

.menu {
    grid-area: 3 / 1 / 4 / -1;
    text-align: center;
    background-color: yellow;
}

.principal {
    grid-area: 4 / 1 / -2 / -2;
    text-align: center;
    background-color: brown;
}

.secundario {
    grid-row: 4 / -2;
    grid-column: -2;
    text-align: center;
    background-color: gray;
}

.rodape {
    grid-area: -2 / 1 / -1 / -1;
    background-color: green;
}

